<link rel="stylesheet" href="../static/css/homePage-style.css">
{% extends "base.html" %}
{% block body %}
<!-- Hero Section -->
<div class="hero-section">
  <div class="hero-section-text-div">
    <h1>Track your health today</h1>
    <h2>we offer the best health tracking services across west africa</h2>
    <div class="hero-btn-div">
      <h2 class="hero-btn btn1">Sign Up</h2>
      <h2 class="hero-btn btn2">Sign In</h2>
    </div>
  </div>
  <div class="hero-img-div">
    <img src="../static/images/hero.jpg" alt="hero-image" class="hero-image">
  </div>


</div>

<!-- About Section -->
<section class="about-section" id="aboutUs">
  <div class="about-container">
    <div class="about-text">
      <h2>About Us</h2>
      <p>
        WellTrack is your companion in maintaining a healthy lifestyle. We provide tools and insights to help you track
        and improve your well-being.
        Our mission is to empower individuals to take control of their health through data-driven insights and
        personalized recommendations.
      </p>
    </div>
    <div class="about-image">
      <img src="../static/images/about.jpg" alt="About WellTrack">
    </div>
  </div>
</section>

<!-- Testimony Section -->
<h2 class="testimony-heading">What Our Users Say</h2>
<section class="testimony-section">


  <div class="testimony">
    <img src="../static/images/alex.jfif" alt="Alex J">
    <blockquote>WellTrack has completely transformed the way I approach my health. Highly recommended!</blockquote>
    <p>- Alex J.</p>
  </div>
  <div class="testimony">
    <img src="../static/images/maria.jfif" alt="Maria K">
    <blockquote>I feel more in control of my health than ever before Keep it up.</blockquote>
    <p>- Maria K.</p>
  </div>

  <div class="testimony">
    <img src="../static/images/james.jfif" alt="James R">
    <blockquote>The data-driven insights Well Track offers keep me motivated and on track every day!</blockquote>
    <p>- James R.</p>
  </div>
</section>

<!-- Join Us Section -->
<section class="join-us-section">
  <h2>Join Us</h2>
  <p>Become a part of our community and take the first step towards a healthier you !</p>
  <button class="join-button"><a href="/signup">Join Now</a></button>
</section>


{% endblock %}